body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#4D194D, #006466);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 3px 3px 6px black;
}

#main-img {
    width: 300px;
    border-radius: 50%;
    border: 18px solid #212F45;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-everythingday {
    height: 800px;
}

#gift-img-flex {
    height: 800px;
}

.gift-img {
    margin: 20px auto;
    max-width: 600px;
    height: 400px;
    border: 12px solid #212F45;
    border-radius: 10px;
    background-image: url("AIgiftwrap.png");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/ZdlN56usaKaQg/giphy.gif");
}

#gift-img-peep:hover {
    background-image: url("https://media.giphy.com/media/3o6YfXtqIrtPrApeuI/giphy.gif");
}

#gift-img-everythingday:hover {
    background-image: url("https://media.giphy.com/media/iw3QWgT77aC1G/giphy-downsized-large.gif");
}

#gift-img-flex:hover {
    background-image: url("https://media.giphy.com/media/11KPjFj0Mekkgg/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/zmvvccWr4WJ32/giphy.gif");
}


